<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1><%= title %></h1>

    
   
    <% if(currentUser) { %>

        <button><a href="/logout">logout</a></button>

        <br><br>

        <button><a href="/folders">Folders</a></button>



    <% } else { %>

        <button><a href="/signup">sign-up</a></button>
        <button><a href="/login">login</a></button>

    <% } %>

    
</body>
</html>